<h1>kzkio(かずちゃん)のプロフィール</h1>
<ul>
  <% profile.each do |key, value| %>
    <li><a href="/details/<%= key %>"><%= key %>: <%= value %></a></li>
  <% end %>
</ul>
<h1>見ていただきありがとうございます！！！</h1>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YBNTXH8NKJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YBNTXH8NKJ');
</script>
